# MariaDB 10.6 repository list - created 2017-05-11 22:58 UTC
# http://downloads.mariadb.org/mariadb/repositories/
deb [arch=amd64] https://mirror.kumi.systems/mariadb/repo/10.6/ubuntu focal main
deb-src https://mirror.kumi.systems/mariadb/repo/10.6/ubuntu focal main