# {{ ansible_managed }}

[client]
user                           = root
password                       = {{ mariadb_root_password }}

[mysqld]
bind_address                   = {{ mariadb_options.bind_address }}
performance_schema             = {{ mariadb_options.performance_schema }}
skip-name-resolve              = {{ mariadb_options.skip_name_resolve }}

