keypair      = "ev222ie_Keypair"
wp_instances = 3
cidr         = "10.1.1.0/24"
private_key  = "/Users/elias/.ssh/2dv517.pem"
private_key_formatted = "/Users/elias/.ssh/2dv517_formatted.pem"
public_key   = "/Users/elias/.ssh/2dv517_pub.pem"
git_access_token = "6p-DwdQmQmtjzyV8zN76"
git_api_url = "https://gitlab.lnu.se/api/v4/projects/16762/repository/archive.zip"